
module = WIFI_CRYPTO_DRIVER
module-dep = LOG
module-str = Log level for Wi-Fi Crypto driver
module-help = Sets log level for Wi-Fi Crypto driver
source "$(ZEPHYR_BASE)/subsys/logging/Kconfig.template.log_config"


config WIFI_CRYPTO_DRIVER_LOG_LEVEL
	default 4 # DEBUG

rsource 'psa_driver.Kconfig'

#endif # PSA_CRYPTO_DRIVER_CRACEN
