# Nordic Wi-Fi driver for nRF700x 
#
# Copyright (c) 2022 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

config WIFI_NRF
	bool "Nordic Wi-Fi driver"
	select NRFX_QSPI
	select WPA_SUPP
	select NRFX_SPIM
	select NRFX_SPIM3
	select NRFX_SPIM4
	select WIFI
	help
	Nordic Wi-Fi Driver

module = WIFI_NRF
module-str = WIFI_NRF
source "subsys/logging/Kconfig.template.log_config"
