# Nordic WiFi driver for nRF52840 and nRF5340
#
# Copyright (c) 2022 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menuconfig WIFI_NRF
        bool "Nordic WiFi driver"
        select WPA_SUPP
        select NRFX_QSPI
        help
          Nordic Wifi Driver
