# Copyright (c) 2023 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#
source "Kconfig.zephyr"

config WFA_DUT_UART
    bool "Use UART to communicate with CA"

# POSIX thread priority for WMM threads
# Zephyr thread priority is calculated as (15 - WFA_WMM_THREAD_PRIO_x)
config WFA_WMM_THREAD_PRIO_BE
    int "WMM priority for BE"
    default 0
    range 0 15

config WFA_WMM_THREAD_PRIO_BK
    int "WMM priority for BK"
    default 3
    range 0 15

config WFA_WMM_THREAD_PRIO_VI
    int "WMM priority for VI"
    default 12
    range 0 15

config WFA_WMM_THREAD_PRIO_VO
    int "WMM priority for VO"
    default 15
    range 0 15

config WFA_WMM_THREAD_PRIO_RX
    int "WMM priority for RX"
    default 0
    range 0 15
